In [1]:
'''1. Create a set of 5 unique numbers. Add a new number to the set and print the updated
set.'''

s={1,2,3,4,5}
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

In [2]:
'''2. Write a program to find the union of two sets: {1, 2, 3} and {3, 4, 5}'''

s1={1,2,3}
s2={3,4,5}
s3=s1.union(s2)
print(s3)

{1, 2, 3, 4, 5}

In [5]:
'''. 3. Create a dictionary with names as keys and ages as values. Print the age of a specific
person'''

d={"raj": 20, "suman": 23, "mohit": 25}
n=input("enter name to search age:")
for i in d:
    if i==n:
        print(d[i])

enter name to search age: raj

20

In [8]:
'''4. Check if a given key exists in a dictionary. If not, add it with a default value'''

d={1:34,2:45,3:56}
de=67#default value
n=int(input("enter a key to check: "))
if n in d:
    print("already present")
else:
    d[n]=de
print(d)

enter a key to check:  4

{1: 34, 2: 45, 3: 56, 4: 67}

In [10]:
'''5. Remove a specific item from a set and display the updated set.'''

s={1,2,3,4,6,8}
n=int(input("enter an item to remove:"))
s.discard(n)
print(s)

enter an item to remove: 8

{1, 2, 3, 4, 6}

In [16]:
'''6. Write a program to count the number of times each word appears in a sentence using
a list.'''

s="python is an interpreted language python is fun to learn because python is simple and powerful."
s.lower()
l=s.split()
print("number of words:", len(l))

number of words: 16

In [13]:
''' 7. Create a set with duplicate values and print the set to show that duplicates are not
allowed.'''

s={1,2,2,4,6,4,7,6}
s1=set()
for i in s:
    if i not in s1:
        s1.add(i)
print(s1)

{1, 2, 4, 6, 7}

In [15]:
''' 8. Merge two dictionaries into one and print the result'''

d1={1:23,2:34,3:45,4:56}
d2={5:67,6:78}
d1.update(d2)
print(d1)

{1: 23, 2: 34, 3: 45, 4: 56, 5: 67, 6: 78}

In [18]:
'''9. Use a dictionary to store student names and their scores. Calculate the average score'''

d={"raj": 78, "suman": 89, "mohit": 90}
sum=0
for i in d:
    sum=sum+d[i]
print("average: ",sum//len(d))

average:  85

In [19]:
'''10. Write a program to find the intersection of two sets: {'apple', 'banana', 'cherry'} and
{'banana', 'cherry', 'date'}'''

s1={'apple', 'banana', 'cherry'}
s2={'banana', 'cherry', 'date'}

i=s1.intersection(s2)
print("intersection:", i)

intersection: {'cherry', 'banana'}